@import "normalize.scss";
@import "range.scss";

$spacing-sm: 6px;
$spacing: 12px;
$spacing-lg: 72px;
$section-padding: $spacing-sm;

@font-face {
  font-family: Claude;
  src: url("../claude.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
  font-family: "Helvetica", "Arial", sans-serif;
}

footer {
  padding: $section-padding;

  p {
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

body > section {
  border-bottom: 1px solid black;
  padding: $section-padding 0;
}

details {
  position: relative;

  > summary {
    list-style: none;
    width: 100%;
    cursor: pointer;
    padding-left: $spacing-sm;

    &:focus {
      outline: none;
    }

    // Remove marker added by details polyfill
    &::before {
      display: none;
    }

    // Remove marker added by Chrome
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "→";
      position: absolute;
      right: $section-padding;
      top: 0;
    }
  }

  &[open] {
    summary {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    summary::after {
      content: "↓";
      position: absolute;
      right: $section-padding;
      top: 0;
    }
  }

  .detail_content {
    display: block;
    position: relative;
    margin-left: $spacing-lg;
    overflow: hidden;
    z-index: 10;
  }
}

.f1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0px;
}

.two_col {
  display: flex;

  .col_1 {
    width: 80px;
  }
}

/* ---------------- section letter ---------------- */

.section_letter {
  padding: $spacing-sm;
}

.letter_list {
  font-family: Claude;
  font-size: 6vw;
  font-weight: normal;
  padding: $spacing $spacing 1em $spacing;

  @media (max-width: 750px) {
    font-size: 10vw;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* ---------------- section read ---------------- */

$bg-grey: #f9f9f9;
$bg-yellow: #e8e7b2;
$bg-white: white;
$indent: 2em;

.section_read {
  padding-bottom: 0;
}

.book_content {
  font-family: Claude;
  max-width: 750px;
  padding: 0 72px 12px 72px;
  font-weight: normal;

  @media (max-width: 750px) {
    padding: 0 12px 0 12px;
  }

  header {
    text-align: center;
  }

  .author {
    font-size: 32px;
    padding: 2em 0 1em 0;
  }

  h1 {
    font-size: 72px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 21px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .body_text {
    p {
      font-size: 17px;
      font-weight: normal;
      line-height: 1.4em;
      margin: 0;

      &:not(:first-child) {
        text-indent: $indent;
      }
    }
  }

  .indent {
    display: inline-block;
    margin-right: $indent;
  }

  .foot_note {
    line-height: 1.4em;
    font-size: 12px;
  }

  &[data-color="white"] {
    background: $bg-white;
  }

  &[data-color="yellow"] {
    background: $bg-yellow;
  }

  &[data-color="grey"] {
    background: $bg-grey;
  }
}

.bg_radio {
  margin: $spacing 0;

  label {
    display: inline-block;
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input ~ span {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #dadada;
  }

  input[value="grey"] ~ span {
    background: $bg-grey;
    border-color: $bg-grey;
  }

  input[value="yellow"] ~ span {
    background: $bg-yellow;
    border-color: $bg-yellow;
  }

  input[value="white"] ~ span {
    background: $bg-white;
    border-color: #dadada;
  }

  input:checked ~ span {
    border-color: black;
  }
}

/* ---------------- section test ---------------- */

.section_test {
  input[type="text"] {
    display: block;
    font-family: Claude;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  input[name="optical_test_input"] {
    font-size: 80px;
    margin: 0.5em 0;
  }

  input[type="text"] {
    margin: 0.5em 0;
  }

  label {
    width: 200px;
  }

  .range_value {
    font-size: 10px;
    margin-left: 5px;
  }

  .range_control {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .section_test {
    .range_control {
      flex-wrap: wrap;
    }
    label {
      width: 100%;
    }
  }
}
