@import "normalize.scss";

$spacing-sm: 6px;
$spacing: 12px;
$spacing-lg: 72px;
$section-padding: $spacing-sm;

@font-face {
  font-family: Claude;
  src: url("./claude.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
  font-family: "Helvetica", "Arial", sans-serif;
}

footer {
  padding: $spacing;

  p {
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

body > section {
  border-bottom: 1px solid black;
  padding: $section-padding 0;
}

.details_reset {
  > summary {
  }
}

details {
  position: relative;

  > summary {
    list-style: none;
    width: 100%;
    cursor: pointer;
  }

  > summary:focus {
    outline: none;
  }

  // Remove marker added by details polyfill
  > summary::before {
    display: none;
  }

  // Remove marker added by Chrome
  > summary::-webkit-details-marker {
    display: none;
  }

  > summary::after {
    content: "→";
    position: absolute;
    right: $section-padding;
    top: 0;
  }

  &[open] summary::after {
    content: "↓";
    position: absolute;
    right: $section-padding;
    top: 0;
  }
}

.f1,
summary {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0px;
}

.two_col {
  display: flex;

  .col_1 {
    width: 80px;
  }
}

.detail_content {
  padding-left: $spacing-lg;
}

/* ---------------- section letter ---------------- */

.section_letter {
  padding: $spacing-sm;
}

.letter_list {
  font-family: Claude;
  font-size: 6vw;
  font-weight: normal;
  padding: $spacing $spacing 1em $spacing;

  @media (max-width: 750px) {
    font-size: 10vw;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* ---------------- section read ---------------- */

.section_read {
  details {
    position: relative;
  }

  summary {
    padding-left: $spacing-sm;
  }

  details[open] {
    summary {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

$bg-grey: #f9f9f9;
$bg-yellow: #e8e7b2;
$bg-white: white;

.book_content {
  font-family: Claude;
  max-width: 750px;
  padding: 48px 72px;
  font-weight: normal;

  @media (max-width: 750px) {
    padding: 36px 12px;
  }

  header {
    text-align: center;
  }

  .author {
    font-size: 32px;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 72px;
    font-weight: normal;
    font-variation-settings: "opsz" 72;
    margin-top: 0;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    font-variation-settings: "opsz" 24;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 17px;
    font-weight: normal;
    font-variation-settings: "opsz" 17;
  }

  .foot_note {
    font-size: 12px;
  }

  &[data-color="white"] {
    background: $bg-white;
  }

  &[data-color="yellow"] {
    background: $bg-yellow;
  }

  &[data-color="grey"] {
    background: $bg-grey;
  }
}

.bg_radio {
  margin: $spacing 0;

  label {
    display: inline-block;
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input ~ span {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #dadada;
  }

  input[value="grey"] ~ span {
    background: $bg-grey;
    border-color: $bg-grey;
  }

  input[value="yellow"] ~ span {
    background: $bg-yellow;
    border-color: $bg-yellow;
  }

  input[value="white"] ~ span {
    background: $bg-white;
    border-color: #dadada;
  }

  input:checked ~ span {
    border-color: black;
  }
}

/* ---------------- section test ---------------- */

.section_test {
  input[type="text"] {
    display: block;
    font-family: Claude;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  input[name="optical_test_input"] {
    font-size: 80px;
  }
}
